.logo{
  width: 100px;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif ;
}
body{
  margin: 0;
  padding:0;
  background-image: linear-gradient(rgb(70, 131, 224), rgb(236, 236, 236));
}
.content{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}


.shadow-box{
  background: white;
}
p{
  padding: 0;
  margin: 0;
}
@media (min-width: 700px) {
  .shadow-box{
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
}

.signup-wrapper .company-details {
  background-image: url("/img/login.jpg");
  background-size: cover;
  position:relative;


}
.signup-wrapper .company-details:before {
  content: "";
position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
}

.signup-wrapper .company-details .wrapper-1{
  position: relative;
  padding-bottom: 10px;
  padding-top: 22px;

}
.signup-wrapper .company-details .logo {
  padding: 0 20px;
  width: 20%;
  margin: 0 auto;
}
.signup-wrapper .company-details .logo .icon-job {
  background: url(https://img.icons8.com/dusk/2x/find-matching-job.png);
  background-size:contain ;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin: 0 auto;
}
.signup-wrapper .company-details .title {
  padding: 20px;
  width: 74%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 2em;
  text-shadow: 1px 1px #4b4a4a;
  text-align: center;

}
.signup-wrapper .company-details .slogan {
 display: none;
}

.signup-wrapper .signup-form .wrapper-2{
  padding: 14px 20px;
  margin: 30px 80px;
}
.signup-wrapper .signup-form .form-title{
  font-size: 1.5em;
  color:  #0c0c0c;
  padding: 5px;
  text-align: center;

}
.signup-wrapper .signup-form .form .content-item{
  text-transform: uppercase;
  color: #A19F9C;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin-top: 35px;
  text-align: center;
}
.signup-wrapper .signup-form .form input[type=text],.signup-wrapper .signup-form .form input[type=password]{
  border: none;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;

  text-align: center;
  width: 250px;
}
.signup-wrapper .signup-form .signup {
  background-color: #181617;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 1em;
  text-transform: capitalize;
  margin-top: 49px;
  border-radius: 5px;

}
.signup-wrapper .signup-form .login{
  color: #0a0a0a;
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9em;
  width: 95%;
  margin: 0 auto;
  text-align: center;

}
input::placeholder {
  color: #575757;
}

@media (min-width: 200px) {

  .signup-wrapper .signup-form .wrapper-2{
      margin: 30px 23px;
  }

  .signup-wrapper .company-details .title {
      width: 90%;
      font-size: 1.5em;
  }

}
@media (min-width: 300px) {
  .signup-wrapper .signup-form .wrapper-2{
      margin: 30px 23px;
  }

  .signup-wrapper .company-details .title {
      width: 80%;
     font-size: 2em;
  }

}
@media (min-width: 500px) {
  .signup-wrapper .signup-form .login{
      display: inline;
  }
}

@media (min-width: 700px) {
  .signup-wrapper .company-details,
  .signup-wrapper .signup-form {
      width: 50%;
  }
  .signup-wrapper {
     display: flex;
      max-width: 700px;
      margin: 0 auto;
      margin-top: 1%;
      margin-bottom: 1%;
  }
  .signup-wrapper .company-details .wrapper-1 {
      padding-bottom: 150px;
      padding-top: 160px;
  }
  .signup-wrapper .company-details .slogan {
      padding: 0 20px;
      width: 70%;
      margin: 0 auto;
      color: #fff;
      font-size: 1.2em;
      text-align: center;
      text-shadow: 1px 1px #4b4a4a;
      display: block;
  }
  .signup-wrapper .company-details .title {
      width: 76%;
  }
  .signup-wrapper .signup-form .wrapper-2{
      padding: 30px 40px;
      margin: 0;
  }

  .signup-wrapper .signup-form .login{
      display: inline;
  }
  .signup-wrapper .signup-form .form .content-item{
      text-align: initial;
  }
  .signup-wrapper .signup-form .form input[type=text],.signup-wrapper .signup-form .form input[type=password]{
      text-align: initial;

  }
 .signup-wrapper .signup-form .form-title{
      text-align: initial;
   padding :0;
  }

}
/********** Template CSS **********/
:root {
  --primary: #00B074;
  --secondary: #2B9BFF;
  --light: #EFFDF5;
  --dark: #2B3940;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.header-search {
  padding: 15px 0px;

}

.header-search form {
  position: relative;
}

.header-search form .input-select {
  margin-right: -4px;
 
}

.header-search form .input {
  width: calc(100% - 260px);
  margin-right: -4px;
}
.input-select {
  padding: 0px 15px;
  background: #FFF;
  border: 1px solid #E4E7ED;
  height: 40px;
}
.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  width: 100%;
}

textarea.input {
  padding: 15px;
  min-height: 90px;
}

.header-search form .search-btn {
  height: 40px;
  width: 100px;
  background: #129b12;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link  {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar-light .navbar-nav {
      border-top: 1px solid #EEEEEE;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: .5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      top: 100%;
      margin-top: 0;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
      
  }

  .navbar .nav-item:hover .dropdown-menu {
      transform: rotateX(0deg);
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
  position: relative;
  padding: 45px 0 45px 35px;
  border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 15px;
  background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
  top: 100%;
  margin-top: -15px;
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
      position: relative;
      min-height: 500px;
  }
  
  .header-carousel .owl-carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
      font-size: 14px !important;
      font-weight: 400 !important;
  }

  .header-carousel .owl-carousel-item h1 {
      font-size: 30px;
      font-weight: 600;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-size: 22px;
  transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}


/*** About ***/
.about-bg {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
  display: block;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  border: 1px solid transparent;
  transition: .5s;
}

.cat-item:hover {
  border-color: rgba(0, 0, 0, .08);
  box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}

.job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, .08);
  box-shadow: none;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--primary);
  border-radius: 2px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--dark);
  border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 2px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
  border-color: var(--light);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
